<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--处理身份提供者配置的处理器-->
    <section name="principal-providers" type="CrystalWall.Config.PrincipalProviderSectionHandler, CrystalWall, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="principal-storage" type="CrystalWall.Config.PrincipalTokenStorageSection, CrystalWall, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="sites" type="CrystalWall.CrystalWallSites, CrystalWall, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <!-- Other <section> and <sectionGroup> elements.  -->
  </configSections>
  <!--身份提供者配置节-->
  <principal-providers>
    <provider class="CrystalWall.Auths.DBPrincipalProvider">
      <connection>Data Source=.;Initial Catalog=CrystalwallTest;User ID=sa;Password=123456;</connection>
      <!--<conn-provider>数据提供者名称</conn-provider>（可选，默认为sql server提供者）-->
      <principal-table>principal</principal-table>
      <!--<user-indentity>pname</user-indentity>（可选，默认为pname）-->
      <permission-table>permission</permission-table>
      <!--以下可选，关联表默认为身份表_权限表
      <foreign-table name="principal_permission">
        <foreign-user>principal_id</foreign-user>
        <foreign-permission>permission_id</foreign-permission>
      </foreign-table>
      -->
    </provider>
    <!--other provider section
    <provider class="LDAPPrincipalProvider"/>
    <provider class="XmlPricipalProvider">
      <file>~/web/principal/principal.xml</file>
    </provider>
    -->
    <provider class="CrystalWall.Auths.MemeryPrincipalTokenProvider"/>
  </principal-providers>
  <principal-storage class="CrystalWall.Web.WebPrincipalTokenStorage, CrystalWall, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  <!--site中type属性可选，不配置表示site使用默认的对象-->
  <!--site中decider配置是可选的，不配置则将使用默认的decider，默认的decider将使用权限点解析策略解析权限 -->
  <!--<decider class="可选">
        <resolves>
          <resolve class="权限点解析器类全名1"/>
          <resolve class="权限点解析器类全名2"/>
        </resolves>
      </decider>
   -->
  <sites>
    <!--在动态方法调用中控制权限的site-->
    <site context="Castle.DynamicProxy.IInvocation, Castle.Core , Version=2.5.1.0"/>
	<!--在Asp.NET页面中控制权限的site-->
	<site context="System.Web.UI, System.Web, Version=4.0.0.0"/>
  </sites>
</configuration>
