<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--处理身份提供者配置的处理器-->
    <sectionGroup name="principal-providers">
       <section name="provider" type="CrystalWall.Config.PrincipalProviderSectionHandler, CrystalWall, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements.  -->
  </configSections>
  <!--身份提供者配置节-->
  <principal-providers>
    <provider class="CrystalWall.Auths.DBPrincipalProvider">
      <connection>Data Source=**;Initial Catalog=***;User ID=sa;Password=***;</connection>
      <!--<conn-provider>数据提供者名称</conn-provider>（可选，默认为sql server提供者）-->
      <principal-table>user</principal-table>
      <!--<user-indentity>name</user-indentity>（可选，默认为name）-->
      <permission-table>permission</permission-table>
      <!--以下可选，关联表默认为身份表_权限表
      <foreign-table name="user_permission">
        <foreign-user>user_id</foreign-user>
        <foreign-permission>permission_id</foreign-permission>
      </foreign-table>
      -->
    </provider>
    <!--other provider section
    <provider class="LDAPPrincipalProvider"/>
    <provider class="XmlPricipalProvider">
      <file>~/web/principal/principal.xml</file>
    </provider>
    -->
    </principal-providers>
</configuration>
